@keyframes example {
  15%   {background-color: black;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: red;}
}
body{
    animation-name: example;
    animation-duration: 100s;
}
h1 { 
    color: white; 
    margin-bottom: -5px; 
} 
p { 
    margin-bottom: -10px; 
} 
.ui { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 250px;
    width: 250px;
    padding-left: 650px;

} 
.row { 
    display: flex; 
} 
.cell { 
    border: none; 
    width: 80px; 
    height: 80px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    cursor: pointer; 
    background-color: red;
    color: white;
    font-size: 50px;
}   
.cell:active { 
    outline: none; 
} 
.cell:hover { 
    background-color: yellow;
} 
/* 3*3 Grid */
#b1{ 
    border-bottom: 3px solid white; 
    border-right: 3px solid white; 
} 
  
#b2 { 
    border-right: 3px solid white; 
    border-left: 3px solid white; 
    border-bottom: 3px solid white; 
} 
  
#b3 { 
    border-bottom: 3px solid white; 
    border-left: 3px solid white; 
} 
  
#b4 { 
    border-top: 3px solid white; 
    border-bottom: 3px solid white; 
    border-right: 3px solid white; 
} 
      
#b5 { 
    border: 3px solid white; 
} 
  
#b6 { 
    border-top: 3px solid white; 
    border-bottom: 3px solid white; 
    border-left: 3px solid white; 
} 
  
#b7 { 
    border-top: 3px solid white; 
    border-right: 3px solid white; 
} 
  
#b8 { 
    border-top: 3px solid white; 
    border-right: 3px solid white; 
    border-left: 3px solid white; 
} 
  
#b9 { 
    border-top: 3px solid white; 
    border-left: 3px solid white; 
} 
/* Reset Button */
#but { 
    box-sizing: border-box; 
    width: 95px; 
    height: 40px; 
    border: 2px solid white; 
    margin-left: auto; 
    border-radius: 8px; 
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif; 
  
    background-color: white; 
    color: maroon; 
    font-size: 20px; 
    cursor: pointer; } 
  
/* Player turn space */
#print { 
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif; 
    color: white; 
    font-size: 20px; 
} 
  
/* Main Container */
#main { 
    text-align: center; 
} 
  
/* Game Instruction Text */
#ins { 
    font-family: Verdana,Geneva,  
                    Tahoma, sans-serif; 
    color: white; 
}